VITE_SUPABASE_URL=https://hwdxqddkiheewirgbsor.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3ZHhxZGRraWhlZXdpcmdic29yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExNTQyOTYsImV4cCI6MjA5NjczMDI5Nn0.7ap1FDEa8OY1PJ_6SNYkVPlVLjNThVm965JRUX5a2fw
VITE_ANTHROPIC_API_KEY=sk-ant-aqui-tu-key
